<div class="about">
  <div class="content" style="width: 100%;" >
    <a href="https://mekarisign.com/?utm_source=ecosystem&utm_medium=esign+%28in-app%29&)&utm_campaign=recipient+%7C+request+to+signer">
      <img src="<%= banner_image %>" alt="mekari-sign" height="100%" width="100%">
    </a>
  </div>
  <br/>

  <div class="content" style="display: inline-block; width: 100%;">
    <h2>
      About Mekari Sign
      <a href="https://mekarisign.com/id/learn-more-email/?utm_source=ecosystem&utm_medium=esign+%28in-app%29&)&utm_campaign=recipient+%7C+request+to+signer">
        <button class="purple">Learn more</button></a>
    </h2>
    <p>
      Sign and finalize electronic documents quick and secure. <br/>
      Mekari Sign offers an advanced and secure eSignature and eMeterai solution that takes electronic document management to a new level. Sign, send, track, and securely store documents using any device.
    </p>
  </div>
  <br/>

  <br/>
  <br/>
  <b style="font-size: 16px;">Key features</b>
  <p>Explore all the features that you need to increase productivity, improve collaboration, and delight clients.</p>
  <ul>
    <li>PSrE-certified eSignature</li>
    <li>Bulk eSignature</li>
    <li>eMeterai</li>
    <li>Identity verification (eKYC)</li>
    <li>API integration</li>
  </ul>

  <br/>
  <b style="font-size: 16px;">Questions about the document?</b>
  <p>If you need to modify the document or have questions about the details in the document, please reach out to the sender by emailing them directly.</p>

  <br/>
  <b style="font-size: 16px;">Having trouble signing?</b>
  <p>If you are having trouble signing the document, please contact our <a href="https://api.whatsapp.com/send/?phone=<%= Configs::ConfigServices.new.wa_number %>&text=[E1ABS]%20Hi%20Mekari%20eSign!%20Saya%20ingin%20mengetahui%20tentang%20produk%20eSign%20lebih%20lanjut">Customer Support</a>.
  </p>

</div>

<div class="space">
</div>

<div class="footer" align="center">
  <p class='footer'>This email is a service provided by Mekari Sign</p>
  <p class='footer'>&copy; <%= Time.current.year %> PT Mid Solusi Nusantara. All rights reserved</p>
  <a href="https://www.facebook.com/mekariesign/" target="_blank"><img src="<%= "#{ENV['HOST_PROD'] || "https://api.esign.mekari.com/core"}/facebook.png" %>" style="filter:grayscale(100%);" width="18" height="18" alt="facebook"></a>
  <a href="https://twitter.com/MekariSign" target="_blank"><img src="<%= "#{ENV['HOST_PROD'] || "https://api.esign.mekari.com/core"}/twitter.png" %>" style="filter:grayscale(100%);" width="18" height="18" alt="twitter"></a>
  <a href="https://www.youtube.com/@mekarisign" target="_blank"><img src="<%= "#{ENV['HOST_PROD'] || "https://api.esign.mekari.com/core"}/youtube.png" %>" style="filter:grayscale(100%);" width="18" height="18" alt="youtube"></a>
  <a href="https://www.linkedin.com/company/mekarisign/" target="_blank"><img src="<%= "#{ENV['HOST_PROD'] || "https://api.esign.mekari.com/core"}/linkedin.png" %>" style="filter:grayscale(100%);" width="18" height="18" alt="linkedin"></a>
  <a href="https://www.instagram.com/mekarisign/" target="_blank"><img src="<%= "#{ENV['HOST_PROD'] || "https://api.esign.mekari.com/core"}/instagram.png" %>" style="filter:grayscale(100%);" width="18" height="18" alt="instagram"></a>
  <br>
  <hr style="width: 95%;">
  <p class='footer'>Mekari .  Midplaza 2, 4th floor, Jln Jend Sudirman Kav. 10-11, Central Jakarta, Jakarta, 10220, Indonesia</p>
</div>